# CORE Skills Prerequisite - Intro to Pandas

This lesson is adapted from the [Data Carpentry Ecology lesson](http://www.datacarpentry.org/python-ecology-lesson/)


## How to use a Jupyter Notebook

https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/index.html

https://jupyterlab.readthedocs.io/en/stable/user/notebook.html

- The file autosaves
- You run a cell with **shift + enter** or using the run button in the tool bar
- If you run a cell with **option + enter** it will also create a new cell below
- See *Help > Keyboard Shortcuts* or the *Cheatsheet* for more info


- The notebook has different type of cells: Code and Markdown are most commonly used
- **Code** cells expect code for the Kernel you have chosen, syntax highlighting is available, comments in the code are specified with # -> code after this will not be executed
- **Markdown** cells allow you to right report style text, using markdown for formatting the style (e.g. Headers, bold face etc)

# Working With Pandas DataFrames in Python

## Starting in the same spot

To help the lesson run smoothly, let's ensure everyone is in the same directory.
This should help us avoid path and file name issues. At this time please
navigate to the workshop directory. If you working in IPython Notebook be sure
that you start your notebook in the workshop directory.

A quick aside that there are Python libraries like [OS
Library](https://docs.python.org/3/library/os.html) that can work with our
directory structure, however, that is not our focus today.

If you need to change your directory ```import os``` and use ```os.chdir```

## Our Data 

For this lesson, we will be using the Portal Teaching data, a subset of the data
from Ernst et al
[Long-term monitoring and experimental manipulation of a Chihuahuan Desert ecosystem near Portal, Arizona, USA](http://www.esapubs.org/archive/ecol/E090/118/default.htm)

We will be using files from the [Portal Project Teaching Database](https://figshare.com/articles/Portal_Project_Teaching_Database/1314459).
This section will use the `surveys.csv` file which can be found in /data/python/python_data

We are studying the species and weight of animals caught in plots in our study
area. The dataset is stored as a `.csv` file: each row holds information for a
single animal, and the columns represent:

| Column           | Description                        |
|------------------|------------------------------------|
| record_id        | Unique id for the observation      |
| month            | month of observation               |
| day              | day of observation                 |
| year             | year of observation                |
| plot             | ID of a particular plot            |
| species          | 2-letter code                      |
| sex              | sex of animal ("M", "F")           |
| wgt              | weight of the animal in grams      |


The first few rows of our first file look like this:

```
record_id,month,day,year,plot,species,sex,wgt
1,7,16,1977,2,NA,M,
2,7,16,1977,3,NA,M,
3,7,16,1977,2,DM,F,
```

## About Libraries

A library in Python contains a set of tools (called functions) that perform
tasks on our data. Importing a library is like getting a piece of lab equipment
out of a storage locker and setting it up on the bench for use in a project.
Once a library is set up, it can be used or called to perform many tasks.

Python doesn't load all of the libraries available to it by default. We have to
add an `import` statement to our code in order to use library functions. To import
a library, we use the syntax `import libraryName`. If we want to give the
library a nickname to shorten the command, we can add `as nickNameHere`.  An
example of importing the pandas library using the common nickname `pd` is below.

You only need to load a library once during your session. You can load the library when needed
or you can load all necessary libraries at the beginning of your script. 
This is good practice, especially for the readability of your code

In [ ]:
!pip install pandas
# Run this cell and when it complete restart the kernel for this notebook

## Pandas in Python

One of the best options for working with tabular data in Python is to use the
[Python Data Analysis Library](http://pandas.pydata.org/) (a.k.a. Pandas). The
Pandas library provides data structures, produces high quality plots with
[matplotlib](http://matplotlib.org/) and integrates nicely with other libraries
that use [NumPy](http://www.numpy.org/) (which is another Python library) arrays.

A handy **Pandas cheathsheet** can be found [here](http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).

Each time we call a function that's in a library, we use the syntax
`LibraryName.FunctionName`. Adding the library name with a `.` before the
function name tells Python where to find the function. In the example above, we
have imported Pandas as `pd`. This means we don't have to type out `pandas` each
time we call a Pandas function.

In [ ]:
# check if you need to change your directory
import os
os.getcwd()

In [ ]:
os.listdir("../")

In [ ]:
os.chdir("../data/")

In [ ]:
os.getcwd()

In [ ]:
import pandas as pd
# check your version, we need v0.19 or higher
pd.__version__

# Reading CSV Data Using Pandas

We will begin by locating and reading our survey data which are in CSV format.
We can use Pandas' `read_csv` function to pull the file directly into a
[DataFrame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe).

## So What's a DataFrame?

A DataFrame is a 2-dimensional data structure that can store data of different
types (including characters, integers, floating point values, factors and more)
in columns. It is similar to a spreadsheet or an SQL table or the `data.frame` in
R. A DataFrame always has an index (0-based). An index refers to the position of 
an element in the data structure.

In [ ]:
# note that pd.read_csv is used because we imported pandas as pd
pd.read_csv("surveys.csv")

We can see that there were 33,549 rows parsed. Each row has 9
columns. The first column is the index of the DataFrame. The index is used to
identify the position of the data, but it is not an actual column of the DataFrame. 
It looks like  the `read_csv` function in Pandas  read our file properly. However, 
we haven't saved any data to memory so we can work with it.We need to assign the 
DataFrame to a variable. Remember that a variable is a name for a value, such as `x`, 
or  `data`. We can create a new  object with a variable name by assigning a value to it using `=`.

Let's call the imported survey data `surveys_df`:

In [ ]:
surveys_df = ?

Notice when you assign the imported DataFrame to a variable, Python does not
produce any output on the screen. We can print the value of the `surveys_df`
object by typing its name into the Python command prompt.

## Manipulating Our Species Survey Data

Now we can start manipulating our data. First, let's check the data type of the
data stored in `surveys_df` using the `type` method. The `type` method and
`__class__` attribute tell us that `surveys_df` is `<class 'pandas.core.frame.DataFrame'>`.

In [ ]:
type(surveys_df)

In [ ]:
# we can also look at the .__class__ attribute
surveys_df.__class__

We can also enter `surveys_df.dtypes` at our prompt to view the data type for each
column in our DataFrame. `int64` represents numeric integer values - `int64` cells
can not store decimals. `object` represents strings (letters and numbers). `float64`
represents numbers with decimals.

Pandas and base Python use slightly different names for data types. More on this
is in the table below:

| Pandas Type | Native Python Type | Description |
|-------------|--------------------|-------------|
| object | string | The most general dtype. Will be assigned to your column if column has mixed types (numbers and strings). |
| int64  | int | Numeric characters. 64 refers to the memory allocated to hold this character. |
| float64 | float | Numeric characters with decimals. If a column contains numbers and NaNs(see below), pandas will default to float64, in case your missing value has a decimal. |
| datetime64, timedelta[ns] | N/A (but see the [datetime](http://doc.python.org/2/library/datetime.html) module in Python's standard library) | Values meant to hold time data. Look into these for time series experiments. |


---

## Exploring DataFrames in Python

There are multiple methods that can be used to access and summarise the data
stored in DataFrames. Let's try out a few. Note that we call the method by using
the object name followed by . and the method name. So `surveys_df.columns` provides an index
of all of the column names in our DataFrame.

### Selecting Rows and Columns


In pandas you can use several ways to **select a specific column**:
- square brackets `[]` 
- a `.` and the column name

For example, we can select all of data from a column named `species` from the `surveys_df`
DataFrame by name:

```python
surveys_df['species']
# this syntax, calling the column as an attribute, gives you the same output
surveys_df.species
```

Using double square brackets `[[]]` we can pass a list of column names too by listing the names we want.
Lets look at both the `record_id` and the `species` columns:

We can also create an new object that contains the data as follows:

```python
# create an object named surveys_species that only contains the `species_id` column
surveys_species = surveys_df['species']
```

In [ ]:
surveys_species

**NOTE:** If a column name is not contained in the DataFrame, an exception
(error) will be raised.

```python
surveys_df['speciess']
```

### Challenges

Try out the methods below to see what they return.

1. `surveys_df.columns`.
2. `surveys_df.head()`. Also, what does `surveys_df.head(15)` do?
3. `surveys_df.tail()`.
4. `surveys_df.shape`. Take note of the output of the shape method. What format does it return the shape of the DataFrame in?

HINT: [More on tuples, here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences).

---

Converting between different data types

In [ ]:
# Let's check the types of data we have in our dataframe
surveys_df.dtypes

In [ ]:
# convert the record_id field from an integer to a float
my_col = surveys_df['record_id']
my_col = my_col.astype('float64')
surveys_df['record_id'] = my_col
# alternatively we can do all the above in one line by chaining the commands together
# surveys_df['record_id'] = surveys_df['record_id'].astype('float64')

In [ ]:
surveys_df.dtypes

What happens if we try to convert `wgt` values to integers (`int64`)?

Notice that this throws a value error: `ValueError: Cannot convert NA to
integer`. If we look at the `weight` column in the surveys data we notice that
there are NaN (**N**ot **a** **N**umber) values. *NaN* values are undefined
values that cannot be represented mathematically. Pandas, for example, will read
an empty cell in a CSV or Excel sheet as a NaN. NaNs have some desirable
properties: if we were to average the `weight` column without replacing our NaNs,
Python would know to skip over those cells.

In [ ]:
# inspect the wgt column and look for nan values

In [ ]:
# now look at the mean of this column

_Note: older pandas version do not know how to handle NaN, please update to v0.19 or higher_

Check your pandas version using `pd.__version__`, if you need to update open a bash shell
and type ```conda update pandas```.

---

## Missing Data Values - NaN

Dealing with missing data values is always a challenge. It's sometimes hard to
know why values are missing - was it because of a data entry error? Or data that
someone was unable to collect? Should the value be 0? We need to know how
missing values are represented in the dataset in order to make good decisions.
If we're lucky, we have some metadata that will tell us more about how null
values were handled.

For instance, in some disciplines, like Remote Sensing, missing data values are
often defined as -9999. Having a bunch of -9999 values in your data could really
alter numeric calculations. Often in spreadsheets, cells are left empty where no
data are available. Pandas will, by default, replace those missing values with
NaN. However it is good practice to get in the habit of intentionally marking
cells that have no data, with a no data value! That way there are no questions
in the future when you (or someone else) explores your data.

### Where Are the NaN's?

Let's explore the NaN values in our data a bit further. 
First, let's figure out **how many rows contain NaN values for weight**. 
We can do this by identifying how many rows have a NULL value (`.isnull`) or by counting the number of rows that have a meaningful value (e.g., wgt>0):

In [ ]:
# use the .isnull

In [ ]:
# using >0

We can replace all NaN values with zeroes using the `.fillna()` method (after
making a copy of the data so we don't lose our work).

However, NaN and 0 yield different analysis results. The mean value when NaN
values are replaced with 0 is different from when NaN values are simply thrown
out or ignored.

In [ ]:
# replace NaN with 0
# We make a copy of the data frame
df1 = surveys_df.copy()
df1['wgt'] = ?

In [ ]:
# check mean, how does it differ from before?
print(surveys_df['wgt'].mean())
print(df1['wgt'].mean())

We can fill NaN values with any value that we chose. The code below fills all
NaN values with a mean for all weight values.

```python
 df1['wgt'] = surveys_df['wgt'].fillna(surveys_df['wgt'].mean())
```

We could also chose to create a subset of our data, only keeping rows that do
not contain NaN values, using `.dropna()` method.

**The point is to make conscious decisions about how to manage missing data.** 
This is where we think about how our data will be used and how these values will
impact the scientific conclusions made from the data.

Python gives us all of the tools that we need to account for these issues. We
just need to be cautious about how the decisions that we make impact scientific
results.

In [ ]:
df1['wgt'] = ?
print(surveys_df['wgt'].mean())
print(df1['wgt'].mean())

## Calculating summary statistics for a Pandas DataFrame

We've read our data into Python. Next, let's perform some quick summary
statistics to learn more about the data that we're working with. We might want
to know how many animals were collected in each plot, or how many of each
species were caught. We can perform summary stats quickly using groups. But
first we need to figure out what we want to group by.

---

Let's find out how many unique plot IDs and species we have in our data:

In [ ]:
# Reminder of the column names
surveys_df.columns

In [ ]:
# Create a list of unique plot ID's  and species found in the surveys data
plot_names = ?
species = ?

In [ ]:
# Check the length of the list
print(f'There are: {?} unique plots in the data')
print(f'There are: {?} unique species in the data')

In [ ]:
# Single line solution
print(f"There are: {?} unique plots in the data")
print(f"There are: {?} unique species in the data")

---

The Pandas function `describe` will return descriptive stats including: mean,
median, max, min, std and count for a particular column in the data. Pandas'
`describe` function will only return summary values for columns containing
numeric data.
We can calculate basic statistics for all records in a single column using the
syntax below:

In [ ]:
# describe the `wgt` column

We can also extract one specific metric if we wish:

```python
surveys_df['wgt'].min()
surveys_df['wgt'].max()
surveys_df['wgt'].mean()
surveys_df['wgt'].std()
surveys_df['wgt'].count()
```


### Basic Math Functions

If we wanted to, we could perform math on an entire column of our data. For
example let's multiply all weight values by 2. A more practical use of this might
be to normalize the data according to a mean, area, or some other value
calculated from our data.

In [ ]:
# multiply all weight values by 2

### Groups in Pandas

We often want to calculate summary statistics grouped by subsets or attributes
within fields of our data, for example we might want to know what the summary stats look like split by sex.
We can use Pandas' `.groupby` method, which creates a groupby DataFrame on which we can perform other pandas methods.

In [ ]:
# grouping the df by sex
by_sex = ?

# summary statistics for this new df
by_sex.describe()

In [ ]:
# provide the mean for each numeric column by sex

The `groupby` command is powerful in that it allows us to quickly generate
summary stats, not just for one group but several.

For example, we might want to calculate the average
weight of all individuals per plot:

```python
surveys_df.groupby('plot')['wgt'].mean()
```

In [ ]:
# calculate average weight of individuals in each plot

Or, we might want to know how many males and females we have for each species:

```python
surveys_df.groupby(['species','sex'])['record_id'].count()
```

In [ ]:
# count the number of each sex per species

### Challenge

1. Calculate the average weight for each species per plot
2. Calculate the average weight for each sex of each species per plot

In [ ]:
surveys_df.groupby(['plot', 'species'])['wgt'].mean()

In [ ]:
surveys_df.groupby(['plot', 'species', 'sex'])['wgt'].mean()

## Quick & Easy Plotting Data Using Pandas

We can plot our summary stats using Pandas, too.

In [ ]:
# make sure figures appear inline in Jupyter Notebook
%matplotlib inline

# plot year vs wgt
surveys_df.plot(x='year', y='wgt', kind='scatter')

In [ ]:
# create a quick bar chart
?

In [ ]:
# We can also look at how many animals were captured in each plot:
total_count = surveys_df.groupby('plot')['record_id'].nunique()

# let's plot that too, default is a line plot
?

### Challenge Activities

1. Create a plot of average weight across all species per plot. x-axis = plot, y-axis = wgt
2. Create the same plot, but with average weight for each sex per plot. Hint, you will need to `unstack` when plotting. x-axis = plot, y-axis = wgt, different lines for each sex.
3. Create a trend plot of the average weight per plot over time. x-axis = year, y-axis = wgt, different lines for each plot. (For the first 5 plots)

In [ ]:
# 1
# group by plot and calculate mean wgt
avrg_wgt = ?

# let's plot, you should see x-axis -> plot, y-axis -> wgt
avrg_wgt.plot()

In [ ]:
# 2
# group by plot and sex, then calculate mean wgt
avrg_wgt = ?

# let's plot, you should see x-axis -> plot, y-axis -> wgt, different lines for sex
# you need to use the .unstack() method before the .plot() for this to work
avrg_wgt.unstack().plot()

In [ ]:
# lets see what unstack actually does

In [ ]:
# 3
# group by year and plot, then calculate mean wgt
wgt_by_time = ?

# let's plot, you should see x-axis -> year, y-axis -> wgt, different lines for plot
# you need to use the .unstack() method before the .plot() for this to work
wgt_by_time.unstack().plot()

# Indexing & Slicing in Python

We often want to work with subsets of a **DataFrame** object. There are
different ways to accomplish this including: using labels (ie, column headings - as used previously),
numeric ranges or specific x,y index locations.

## Extracting Range based Subsets: Slicing

**REMINDER**: Python Uses 0-based Indexing

Let's remind ourselves that Python uses 0-based
indexing. This means that the first element in an object is located at position
0. This is different from other tools like R and Matlab that index elements
within objects starting at 1.


![indexing diagram](https://datacarpentry.org/python-ecology-lesson/fig/slicing-indexing.png)

![slicing diagram](https://datacarpentry.org/python-ecology-lesson/fig/slicing-slicing.png)

## Challenges


```python
# Create a list of numbers:
a = [1,2,3,4,5]
```

1. What value does the code below return?
        a[0]
2. How about this:
        a[5]
3. Or this?
        a[len(a)]
4. In the example above, calling `a[5]` returns an error. Why is that?

In [ ]:
a = ?

In [ ]:
# 1

In [ ]:
# 2

In [ ]:
# 3

In [ ]:
# 4

## Slicing Subsets of Rows in Python

Slicing using the `[]` operator selects a set of rows and/or columns from a
DataFrame. To slice out a set of rows, you use the following syntax:
`data[start:stop]`. When slicing in pandas the start bound is included in the
output. The stop bound is one step BEYOND the row you want to select. So if you
want to select rows 0, 1 and 2 your code would look like this:

```python
# select rows 0,1,2 (but not 3)
surveys_df[0:3]
```

The stop bound in Python is different from what you might be used to in
languages like Matlab and R.

```python
# select the first, second and third rows from the surveys variable
surveys_df[0:3]
# select the first 5 rows (rows 0,1,2,3,4)
surveys_df[:5]
# select the last element in the list
surveys_df[-1:]
```

We can also reassign values within subsets of our DataFrame. But before we do that, let's make a 
copy of our DataFrame so as not to modify our original imported data. 

```python
# copy the surveys dataframe so we don't modify the original DataFrame
surveys_copy = surveys_df

# set the first three rows of data in the DataFrame to 0
surveys_copy[0:3] = 0
```

Next, try the following code: 

```python
surveys_copy.head()
surveys_df.head()
```
What is the difference between the two data frames?

In [ ]:
# copy the surveys dataframe so we don't modify the original DataFrame
surveys_copy = surveys_df

In [ ]:
# set the first three rows of data in copied DataFrame to 0

In [ ]:
# look at the copy of the data
surveys_copy.head()

In [ ]:
# look at the original data
surveys_df.head()

## Referencing Objects vs Copying Objects in Python

We might have thought that we were creating a fresh copy of the `surveys_df` objects when we 
used the code `surveys_copy = surveys_df`. However the statement  y = x doesn’t create a copy of our DataFrame. 
It creates a new variable y that refers to the **same** object x refers to. This means that there is only one object 
(the DataFrame), and both x and y refer to it. So when we assign the first 3 columns the value of 0 using the 
`surveys_copy` DataFrame, the `surveys_df` DataFrame is modified too. To create a fresh copy of the `surveys_df`
DataFrame we use the syntax y=x.copy(). But before we have to read the surveys_df again because the current version contains the unintentional changes made to the first 3 columns.

```python
surveys_df = pd.read_csv("data/surveys.csv")
surveys_copy= surveys_df.copy()
```

In [ ]:
# Reload the data frame since we just broke it
surveys_df = ?

In [ ]:
# now make a copy the "right" way
surveys_copy = ?

In [ ]:
# set the first three rows of data in copied DataFrame to 0

In [ ]:
# look at the copy of the data
surveys_copy.head()

In [ ]:
# look at the original data
surveys_df.head()

## Slicing Subsets of Rows and Columns in Python Pandas

We can select specific ranges of our data in both the row and column directions
using either label or integer-based indexing.

- `loc`: indexing via *labels* (which can be integers)
- `iloc`: indexing via *integers*


![dataframe_indexing](https://vrzkj25a871bpq7t1ugcgmn9-wpengine.netdna-ssl.com/wp-content/uploads/2019/01/pandas-dataframe-has-indexes.png)

To select a subset of rows AND columns from our DataFrame, we can use the `iloc`
method. For example, we can select month, day and year (columns 2, 3 and 4 if we
start counting at 1), like this:

```python
surveys_df.iloc[0:3, 1:4]
```

In [ ]:
surveys_df.head()

In [ ]:
surveys_df.iloc[0:3, 1:4]

Notice that we asked for a slice from 0:3. This yielded 3 rows of data. When you
ask for 0:3, you are actually telling python to start at index 0 and select rows
0, 1, 2 **up to but not including 3**.


Let's next explore some other ways to index and select subsets of data:

In [ ]:
# select all columns for rows of index values 0 and 10

In [ ]:
# what does this do?
surveys_df.loc[0:4, 'plot': 'wgt']

In [ ]:
# What happens when you run the code below?
surveys_df.loc[[0, 10, 45549], :]

NOTE: Labels must be found in the DataFrame or you will get a `KeyError`. The
start bound and the stop bound are **included**.  When using `loc`, integers
*can* also be used, but they refer to the **index label** and not the position. Thus
when you use `loc`, and select 1:4, you will get a different result than using
`iloc` to select rows 1:4.

We can also select a specific data value according to the specific row and
column location within the data frame using the `iloc` function:
`dat.iloc[row,column]`.


```python
surveys_df.iloc[2,6]
```

which gives **output**

```
'F'
```

Remember that Python indexing begins at 0. So, the index location [2, 6] selects
the element that is 3 rows down and 7 columns over in the DataFrame.

## Challenge Activities

1. What happens when you type:
    1. surveys_df[0:3]
    2. surveys_df[:5]
    3. surveys_df[-1:]

2. What happens when you call:
    1. `surveys_df.iloc[0:4, 1:4]`
    2. `surveys_df.loc[0:4, 1:4]`
    3. How are the two commands different?

In [ ]:
# 1.1

In [ ]:
# 1.2

In [ ]:
# 1.3

In [ ]:
# 2.1

In [ ]:
# 2.2

In [ ]:
# 2.3

# Using Masks

A mask can be useful to locate where a particular subset of values exist or
don't exist - for example,  NaN, or "Not a Number" values. To understand masks,
we also need to understand `BOOLEAN` objects in python.

Boolean values include `true` or `false`. So for example

```python
# set x to 5
x = 5
# what does the code below return?
x > 5
# how about this?
x == 5
```

When we ask python what the value of `x > 5` is, we get `False`. This is because x
is not greater than 5 it is equal to 5. To create a boolean mask, you first create the
True / False criteria (e.g. values > 5 = True). Python will then assess each
value in the object to determine whether the value meets the criteria (True) or
not (False). Python creates an output object that is the same shape as
the original object, but with a True or False value for each index location.


### Logical evaluators
You can use the syntax below when querying data from a DataFrame. Experiment
with selecting various subsets of the "surveys" data.

* Equals: `==`
* Not equals: `!=`
* Greater than, less than: `>` or `<`
* Greater than or equal to `>=`
* Less than or equal to `<=`

Let's try this out.

Let's identify all locations in the survey data that have
null (missing or NaN) data values. We can use the `isnull` method to do this.
Each cell with a null value will be assigned a value of  `True` in the new
boolean object.

In [ ]:
pd.isnull(surveys_df)

To select the rows where there are null values,  we can use 
the mask as an index to subset our data as follows:

```python
#To select just the rows with NaN values, we can use the .any method
surveys_df[pd.isnull(surveys_df).any(axis=1)]
```

Note that there are many null or NaN values in the `wgt` column of our DataFrame.
We will explore different ways of dealing with these in Lesson 03.

We can run `isnull` on a particular column too. What does the code below do?

```python
# what does this do?
empty_weights = surveys_df[pd.isnull(surveys_df).any(axis=1)]['wgt']
```

Let's take a minute to look at the statement above. 

We are using the Boolean object as an index. 
We are asking python to select rows that have a `NaN` value
for weight.

In [ ]:
# try the empty_weights

---

We can also select a subset of our data using criteria. For example, we can
select all rows that have a year value of 2002.

In [ ]:
?

In [ ]:
# Or we can select all rows that do not contain the year 2002.
surveys_df[?]

In [ ]:
# We can define sets of criteria as well:
# eg, year 1980 or more but less than or equal to 1985
surveys_df[?]

### Challenge Activities

1. Select a subset of rows in the `surveys_df` DataFrame that contain data from
   the year 1999 and that contain weight values less than or equal to 8. How
   many rows did you end up with? What did your neighbor get?
2. You can use the `isin` command in python to query a DataFrame based upon a
   list of values as follows:
   `surveys_df[surveys_df['species'].isin([listGoesHere])]`. Use the `isin` function
   to find all plots that contain particular species in
   the surveys DataFrame. How many records contain these values?
3. Experiment with other queries. Create a query that finds all rows with a weight value > or equal to 0.
4. The `~` symbol in Python can be used to return the OPPOSITE of the selection that you specify in python. 
It is equivalent to **is not in**. Write a query that selects all rows that are NOT equal to 'M' or 'F' in the surveys
data.

In [ ]:
# 1

In [ ]:
# 2

In [ ]:
# 3

In [ ]:
# 4

## Concatinating

We can use the `concat` function in Pandas to append either columns or rows from
one DataFrame to another.  Let's grab two subsets of our data to see how this
works.

In [ ]:
# read in first 10 lines of surveys table

In [ ]:
# grab the last 10 rows (minus the last one)

When we concatenate DataFrames, we need to specify the axis. `axis=0` tells
Pandas to stack the second DataFrame under the first one. It will automatically
detect whether the column names are the same and will stack accordingly.
`axis=1` will stack the columns in the second DataFrame to the RIGHT of the
first DataFrame. To stack the data vertically, we need to make sure we have the
same columns and associated column format in both datasets. When we stack
horizonally, we want to make sure what we are doing makes sense (ie the data are
related in some way).

In [ ]:
# stack the DataFrames on top of each other

In [ ]:
# place the DataFrames side by side

In [ ]:
# note that there are now two `wgt` columns
# How does the following behave?
horizontal_stack['wgt']

Notice anything unusual about the `vertical_stack`?

The row indexes for the two data frames `survey_sub` and `survey_sub_last10`
have been repeated. We can reindex the new dataframe using the `reset_index()` method.

In [ ]:
?

## Writing Out Data to CSV

We can use the `to_csv` command to do export a DataFrame in CSV format. Note that the code
below will by default save the data into the current working directory. We can
save it to a different folder by adding the foldername and a slash to the file
`vertical_stack.to_csv('foldername/out.csv')`.

```python
# Write DataFrame to CSV 
vertical_stack.to_csv('out.csv')
```

Check out your working directory to make sure the CSV wrote out properly, and
that you can open it! If you want, try to bring it back into python to make sure
it imports properly.

```python	
# let's read our output back into python and make sure all looks good
new_output = pd.read_csv('out.csv', keep_default_na=False, na_values=[""])
```

In [ ]:
# write the vertical_stack to a file

In [ ]:
# now check that the file exists